@media only screen and (min-width: 601px) and (max-width:900px) {

    main section .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
    }
    
    #fuel {
        width: 100%;
    }
    
    #water {
        width: 100%;
    }
    
    #food {
        width: 100%;
    }
    
    #temp {
        width: 100%;
    }